/* for IndiaGDP*/

.container1 {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: black;
  justify-content: space-around;
}

.map {
  flex: 1;
  height: 100%;
  border-radius: 10px;
}

.stateBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-left: 1px solid #dee2e6;
  border-radius: 10px ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow-y: auto;
  color: black;
}

.indiaBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-left: 1px solid #dee2e6;
  border-radius: 10px ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow-y: auto;
  color: black;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year-section {
  margin-bottom: 20px;
}

.year-section h3 {
  margin-top: 10px;
}

.year-section ul {
  list-style-type: none;
  padding-left: 0;
}

.year-section li {
  margin: 5px 0;
}

.year-dropdown {
  margin-right: 470px;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  background-color: transparent;
  cursor: pointer;
}


.chartButton {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #002379;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chartButton:hover {
  background-color: #00164f;
}

.controls {
  display: flex;
  align-items: space-between;
  margin-top: 10px;
  justify-content: space-between;
}

.backButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #002379;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.backButton:hover {
  background-color: #00164f;
}


/* for IndiaGDP*/



#map {
  height: 90vh;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0%;
  /* transform: translate(0, -1); */
}
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 0.9em;
  width: 100%;
  padding: 2rem;
  text-shadow: 0 0 5px #1900ff, 0 0 10px #540368, 0 0 15px #2cd626;
}

.container {
  display: flex;
}

.map-container {
  flex: 1;
}

.sidebar {
  flex: 0 0 400px; /* Reduced width */
  background-color: white; /* Set background color to white */
  border-left: 3px solid #ccc; /* Add a border for separation */
  padding: 20px; 
}


/* Add padding */
.chill  {
  width: 100vh;
  height: 100vh;
}
.page{
  overflow:auto;
}

