
#map {
  height: 100vh;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 0.9em;
  width: 100%;
  padding: 2rem;
  text-shadow: 0 0 5px #1900ff, 0 0 10px #540368, 0 0 15px #2cd626;
}




/* Add padding */
.chill  {
  width: 100vh;
  height: 100vh;
}
.page{
  overflow:auto;
}
